img{
    width: 28%;
    /* 30 * 3 = 90, 10% remains */
    /* Calculate 10% divided by 6. */
    margin:calc(10%/6); 
}

nav{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    border-top: 5px solid;
    border-bottom: 5px solid;
    border-color: black;
    width: 30%;
    padding: 20px 0;
}

