body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#container{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
}

#journalSection{
    background-color: aqua;
    border: 2px solid black;
    padding: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
}

#freeJournalSection{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background-color: peachpuff;
    border: 2px solid black;
}

#freeJournalSection h2{
    width: 100%;
}
